<div class="container py-5" style="background:gainsboro">
    <div class="card" style="width: 600px; margin: auto;">
      <div class="card-header bg-success text-white">
  <h2 style="text-align: center;">Search Book</h2>
  </div>
  <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
  <div class="col-md-6 offset-md-3 mt-5">
      <form #deleteStuduent="ngForm" (ngSubmit)="getStudentInfo(deleteStuduent)" method="GET"
      role="form">
          <input type="text" name="name" id="name" placeholder="Enter id number.." 
          class="form-control mb-3" #name='ngModel' ngModel required>
          <div *ngIf="name.invalid && name.touched">
            <p *ngIf="name.errors.required" class="text-danger">*This field is mandatory
              </div>
          <button class="btn btn-outline-dark" type="submit" [disabled]="deleteStuduent.invalid">search</button>
      </form>
  </div>
  </div>
  </div>
  <table class="table table-bordered" *ngIf="studentData" >
      <thead class="thead-grey">
        <tr>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let book of books.productBeans'>
          <td>{{book.id}}</td>
          <td>{{book.name}}</td>
          <td>{{book.category}}</td>
          <td>{{book.company}}</td>
          <td>{{book.quantity}}</td>
          <td>{{book.price}}</td>
          <td>
              <button type="button" (click)="deleteStudent(book.name)" class="btn btn-block btn-danger float-right">
                  <i class="fas fa-trash-alt"></i>Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
  