<div class="col-md-6 offset-3 mt-4 mb-4">
    <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr border="2px">
                    <th>studentId</th>
                    <th>bookId</th>
                    <th>bookname</th>
                    <th>author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let book of books.bookrequest'>
                    <td>{{book.studentId}}</td>
                    <td>{{book.bookId}}</td>
                    <td>{{book.bookname}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
            <div style="text-align: center;">
                <a class="nav-link" routerLink="/request-book">click here to request book<span class="sr-only">(current)</span></a>
            </div>
    
        