<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
<div class="col-md-4 offset-md-4 mt-5 card">
    <div class="card-header">
        <h4>Register</h4>
    </div>
    <div class="card-body">
        <form #registerForm='ngForm' (ngSubmit)='register(registerForm)' method="POST"
        role="form">
            <input type="text" name="name" id="name" #name='ngModel' ngModel
            class="form-control mb-3" placeholder="Enter Name..">
            <input type="email" name="email" id="email" #email='ngModel' ngModel
            class="form-control mb-3" placeholder="Enter email..">
            <input type="password" name="password" id="password" #password='ngModel' ngModel
            class="form-control mb-3" placeholder="Enter password..">
            <input type="text" name="role" id="role" #role='ngModel' ngModel
            class="form-control mb-3" placeholder="Enter role..">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
    </div>
</div>
