<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">Welcome to Library Management System</h1>
    <img src="https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061__340.jpg"  style="height: 500px;" style="margin-left: 500px;"  alt="img">
    <br>
    <a class="nav-link" style="text-align: center;" routerLink="/login">Login Here</a>
   
</body>
</html>
